{
  "extends": [
    "kentcdodds",
    "kentcdodds/jest",
    "kentcdodds/jsx-a11y",
    "kentcdodds/prettier",
    "kentcdodds/webpack",
    "kentcdodds/babel-react-require",
    "kentcdodds/babel-module"
  ],
  "rules": {
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }]
  }
}
